@page
@model IS_Proj_HIT.IndexModelPcaCommentType

@{
    ViewData["Title"] = "Index";
}

<h1>
    <a class="btn btn-primary" asp-controller="Administration" asp-action="DataEntry">
        <i class="fa fa-arrow-left "></i>
    </a>
    Index
</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PcaCommentType[0].PcaCommentTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PcaCommentType[0].LastModified)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PcaCommentType)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PcaCommentTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastModified)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.PcaCommentTypeId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.PcaCommentTypeId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.PcaCommentTypeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
