
@model IS_Proj_HIT.ViewModels.ProgressNotesViewModel
@* @{
    ViewData["Title"] = "Add Progress Notes";
} *@
<div class="card">
    <div class="card-header bg-primary text-white">
        <h4>
            Add Progress Notes
        </h4>
    </div>

    <div class="card-body bg-light">
        <div class="container">
            <form method="post" id="progressNoteEdit" name="progressNoteEdit" asp-action="EditProgessNotes">
                    @* <partial name="~/Views/Patient/PatientFormFields.cshtml" /> *@
                    <hr/>
                    <div class="col-sm-4">
                @* <label>*First Name</label><br />
                <input class="form-control" asp-for="@Model.FirstName" name="FirstName" id="FirstName" placeholder="First Name" /> *@
                <select class="form-control dropdowns" asp-for="@Model.NoteTypeID" asp-items="ViewBag.NoteTypes">
                    <option value=""></option>
                </select>
                
                Date: <input type="datetime" asp-for="@Model.WrittenDate" name="WrittenDate" class="form-control" placeholder="XX/XX/XXXX 00:00:00"
                           value="@DateTime.Now"/>

                <label>Progress Note:</label>
                <input placeholder="Enter note..." name="Note" type="text" id="Note" class="form-control" asp-for="@Model.Note" />

                <div class="text-center form-group">
                            <label>Authorizing Provider:</label>
                            <select class="form-control dropdowns" asp-for="@Model.PhysicianId" asp-items="ViewBag.Physicians">
                                <option value=""></option>
                            </select>
                            <br />
                            @* Co Signature <input type="text" asp-for="@Model.HistoryAndPhysical.CoSignature" /> *@
                        </div>
                
                 <button type="submit" class="btn btn-outline-primary" id="formatSsnAndSubmitForm">Save</button>
            </form>
        </div>
    </div>

</div>