<link rel="stylesheet" href="~/css/forms.css" />
<div class="bg-primary m-1 p-1 text-white"><h4>Edit Encounter</h4></div>
@model IS_Proj_HIT.Models.Encounter
<div class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="patientBanner"><span class="heading">MRN:</span><br /> @(ViewBag.EncounterMRN ?? String.Empty)</div><br />
    <br /><div class="patientBanner"><span class="heading">PATIENT: </span> @ViewBag.PatientFirstName @ViewBag.PatientMiddleName @ViewBag.PatientLastName</div>
    <div class="dob patientBanner"><span class="heading">DOB: </span> @ViewBag.PatientDob.ToShortDateString()</div>
    <div class="patientBanner"><span class="heading">Age: </span> @ViewBag.PatientAge</div>
</div>
<form method="post" id="editEncounter" name="editEncounter" asp-action="Update">
    <div class="container" asp-validation-summary="All"></div>
    <input asp-for="@Model.PatientCurrentAge" type="hidden" value="@ViewBag.CurrentPatientAge" />
    <input asp-for="@Model.Mrn" name="MRN" type="hidden" value="@ViewBag.EncounterMRN" />
    <input asp-for="@Model.EncounterId" name="EncounterId" type="hidden" value="@ViewBag.EncounterId" />
    <div class="row">
        <div class="col-sm-4">
            <br /><label>Facility Registry Opt Out</label>
            <input asp-for="@Model.FacilityRegistryOptInOut" name="FacilityRegistryOptInOut" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label>Chief Complaint</label><br />
            <textarea asp-for="@Model.ChiefComplaint" name="ChiefComplaint" type="text" cols="50" rows="8">
            </textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label>Facilities</label><br />
            <select class="form-control dropdowns" asp-for="@Model.FacilityId" name="FacilityId" asp-items="ViewBag.Facility"></select>
        </div>
        <div class="col-sm-4">
            <label>Departments</label><br />
            <select class="form-control dropdowns" asp-for="@Model.DepartmentId" name="DepartmentId" asp-items="ViewBag.Departments"></select>
        </div>
        <div class="col-sm-4">
            <label>Room Number</label><br />
            <input asp-for="@Model.RoomNumber" name="RoomNumber" type="text" pattern="\d*" maxlength="3" title="Please only enter positive integers" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label>Admit Type</label><br />
            <select class="form-control dropdowns" asp-for="@Model.AdmitTypeId" name="AdmitTypeId" asp-items="ViewBag.AdmitTypes"></select>
        </div>
        <div class="col-sm-4">
            <label>Admit Time</label><br />
            <input asp-for="@Model.AdmitDateTime" name="AdmitDateTime" type="datetime-local" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label>Encounter Physicians</label><br />
            <select class="form-control dropdowns" asp-for="@Model.EncounterPhysiciansId" name="EncounterPhysiciansId" asp-items="ViewBag.EncounterPhysicians"></select>
        </div>
        <div class="col-sm-4">
            <label>Encounter Types</label><br />
            <select class="form-control dropdowns" asp-for="@Model.EncounterTypeId" name="EncounterTypeId" asp-items="ViewBag.EncounterTypes"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label>Place Of Service</label><br />
            <select class="form-control dropdowns" asp-for="@Model.PlaceOfServiceId" name="PlaceOfServiceId" asp-items="ViewBag.PlacesOfService"></select>
        </div>
        <div class="col-sm-4">
            <label>Point Of Origin</label><br />
            <select class="form-control dropdowns" asp-for="@Model.PointOfOriginId" name="PointOfOriginId" asp-items="ViewBag.PointsOfOrigin"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label>Discharge Disposition</label><br />
            <select class="form-control dropdowns" asp-for="@Model.DischargeDisposition" name="DischargeDisposition" asp-items="ViewBag.Discharges"></select>
        </div>
        <div class="col-sm-4">
            <label>Discharge Date</label><br />
            <input asp-for="@Model.DischargeDate" name="DischargeDate" type="date">
        </div>
        <div class="col-sm-4">
            <label>Discharge Time</label><br />
            <input asp-for="@Model.DischargeTime" name="DischargeTime" type="time">
        </div>
    </div>
    <br />
    <input asp-for="@Model.LastModified" type="text" readonly hidden value="@(ViewBag.LastModified ?? String.Empty)" />
    <button class="btn-primary" type="submit">Save</button>
</form>

<hr />
<a asp-action="Index">Back to Encounters</a>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"</script>


