
@model Patient

@ViewBag.Message
@ViewBag.Patient


<partial name="PatientBannerPartial" model="ViewBag.Patient" />

<form asp-action="AddPhysicianReport" asp-controller="Encounter" method="post">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-2 mx-0 px-0">
                @Html.Partial("_EncounterMenu")
            </div>
            <div class="col mx-0 px-0">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h4>
                            History and Physical
                        </h4>
                    </div>
                    <div class="card-body bg-light">
                        <div class="container">
                            Date: <input value="@DateTime.Today.ToString("d")" />
                            <br />
                            Chief Complaint: <input type="text" placeholder="free text" />

                        </div>
                        <br />
                        <div class="container">
                            <button class="btn-primary btn-lg btn-block" data-toggle="collapse" data-target="#reviewText"> Review Of Systems</button> <br />
                            <div id="reviewText" class=" collapse ">
                                <input type="checkbox" />HEENT:  <textarea class="form-control" rows="4" cols="60"></textarea>
                                <br />
                                <input type="checkbox" /> HEM/LYMPH: <input type="text" placeholder="Not Assessed" />
                            </div>
                        </div>
                        <br />
                        <div class="container ">
                            <button class="btn-primary btn-lg btn-block" data-toggle="collapse" data-target="#diagText" aria-expanded="false" aria-controls="diagText">Significant Diagnostics</button> <br />
                            <input type="text" id="diagText" class="form-control collapse " />
                        </div>
                        <br />
                        <div class="container">
                            <button class="btn-primary btn-lg btn-block" data-toggle="collapse" data-target="#assessmentText">Assessment</button> <br />
                            <input type="text" id="assessmentText" class="form-control collapse " />
                        </div>
                        <br />
                        <div class="container">
                            <button class="btn-primary btn-lg btn-block" data-toggle="collapse" data-target="#planText">Plan</button> <br />
                            <input type="text" id="planText" class="form-control collapse" />
                        </div>

                        <br />

                        <div class="text-center form-group">
                            Authorizing Provider: <input type="text" name="name" value="" />
                            <br />
                            Co Signature <input type="text" />
                        </div>

                        <br />

                        <div class="float-left">
                            <a class="btn btn-primary" asp-controller="Patient" asp-action="Details" asp-route-id="@Model.Mrn"> Return To Patient</a>
                            <a class="btn btn-primary" asp-controller="Encounter" asp-action="ViewEncounter" asp-route-id="@ViewBag.EncounterId"> Return to Checked In Encounters </a>
                        </div>

                        <div class="float-right">
                            <a asp-controller="Encounter" asp-action="AddPhysicianAssessment"></a>
                            
                            <button type="submit" class="btn btn-primary"> SAVE AUTHENTICATE </button>
                            <button class="btn btn-primary"> PRINT REPORT </button>
                        </div>
                    </div>
                </div>
                <hr />

            </div>
        </div>
    </div>
</form>