@using IS_Proj_HIT.Models.ViewModels
@model ViewEncounterPageModel
@{
    ViewData["Title"] = "Encounter List";
}


<partial name="PatientBannerPartial" model="@Model.Patient" />

<div class="card">
    <div class="card-header bg-primary text-white">
        <h4>
            Physician Progress Notes
        </h4>
        @if (User.IsInRole("Administrator") || User.IsInRole("Nursing Faculty") || User.IsInRole("HIT Faculty") || User.IsInRole("Registrar"))
        {
            @*<a asp-controller="Encounter" asp-action="EditProgressNotes" >Add New</a>*@
}
    </div>

    <div class="card-body bg-light">
        <div class="container">
            <table class="table table-bordered table-seconday">
                <thead>
                    <tr>
                        <th scope="col">View</th>
                        <th scope="col">Date/Time</th>
                        <th scope="col">Note Type</th>
                        <th scope="col">Author</th>
                        <th scope="col">CoSign</th>
                    </tr>    
                </thead>
                <tbody>
                    @foreach (var ProgressNote in Model.Encounter.ProgressNotes){
                        <tr>
                            <td>
                                <a asp-controller="Encounter" asp-action="EditProgressNotes" asp-route-id="@ProgressNote.ProgressNoteId">View</a>
                            </td>
                            <td>@ProgressNote.LastUpdated</td>
                            <td>@ProgressNote.NoteType.NoteType1</td>
                            <td>@ViewBag.Physicians.LastName</td>
                            <td>@ProgressNote.CoPhysicianId</td>
                        </tr>
                    }
                    

                </tbody>

            </table>
        </div>
    </div>

</div>