@model IS_Proj_HIT.ViewModels.ViewEncounterPageModel

<partial name="PatientBannerPartial" model="Model.Patient" />
<div class="card">
    <div class="card-header bg-primary text-white">
        <h4>
            Encounter Information
            @*Don't show button for nursing faculty or below'*@
            @if (User.IsInRole("Administrator") || User.IsInRole("Nursing Faculty"))
            {
                <a asp-action="EditEncounter"
                   asp-route-encounterId="@Model.Encounter.EncounterId"
                   class="btn btn-info btn-sm float-right">
                    Edit
                </a>
            }
        </h4>
    </div>
    <div class="card-body bg-light">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <label>Admission Time: </label>
                    <span class="font-weight-bold">@Model.Encounter.AdmitDateTime</span>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <label>Facility Registry Opt Out: </label>
                    <span class="font-weight-bold">@(Model.Encounter.FacilityRegistryOptInOut ? "Yes" : "No")</span>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12 col-lg-4">
                    <label>Chief Complaint: </label>
                    <span class="font-weight-bold">@Model.Encounter.ChiefComplaint</span>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <label>Room Number: </label>
                    <span class="font-weight-bold">@Model.Encounter.RoomNumber</span>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <label>Facility: </label>
                    <span class="font-weight-bold">@Model.Encounter.Facility.Name</span>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12 col-lg-4">
                    <label>Attending Physician: </label>
                    <span class="font-weight-bold">
                        @Model.Encounter.EncounterPhysicians.Physician.FirstName @Model.Encounter.EncounterPhysicians.Physician.LastName
                    </span>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <label>Unit: </label>
                    <span class="font-weight-bold">@Model.Encounter.Department.Name</span>
                </div>
                <div class="col-sm-12 col-lg-4"></div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12 col-lg-4">
                    <label>Patient Type: </label>
                    <span class="font-weight-bold">@Model.Encounter.EncounterType.Name</span>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <label>Visit Type: </label>
                    <span class="font-weight-bold">@Model.Encounter.PlaceOfService.Description</span>
                </div>
                <div class="col-sm-12 col-lg-4"></div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12 col-lg-4">
                    <label>Admission Type: </label>
                    <span class="font-weight-bold">@Model.Encounter.AdmitType.Description</span>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <label>Point of Origin: </label>
                    <span class="font-weight-bold">@Model.Encounter.PointOfOrigin.Description</span>
                </div>
                <div class="col-sm-12 col-lg-4"></div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12 col-lg-4">
                    <label>Discharge Time: </label>
                    <span class="font-weight-bold">@(Model.Encounter.DischargeDateTime?.ToString() ?? "Not Discharged")</span>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <label>Discharge Disposition: </label>
                    <span class="font-weight-bold">@(Model.Encounter.DischargeDispositionNavigation?.Name ?? "Not Discharged")</span>
                </div>
                <div class="col-sm-12 col-lg-4">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header bg-primary text-white">
        <h4>
            Patient Care Assessments
            <a asp-controller="PCA"
               asp-action="CreateAssessment"
               asp-route-encounterId="@Model.Encounter.EncounterId"
               asp-route-mrn="@Model.Patient.Mrn"
               class="btn btn-info btn-sm float-right">
                Create New PCA
            </a>
        </h4>
    </div>
    <div class="card-body bg-light">
        <div class="container">
            <table class="table table-bordered table-primary">
                <thead>
                    <tr>
                        <th>View</th>
                        <th>Date Vitals Entered</th>
                        <th>Temperature</th>
                        <th>Respiration</th>
                        <th>Blood Pressure</th>
                        <th class="d-sm-none d-lg-table-cell">Pulse</th>
                        <th class="d-sm-none d-lg-table-cell">Pulse Oximetry</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var counter = 0;
                    }
                    @foreach (var pca in Model.Encounter.PcaRecords.OrderByDescending(pca => pca.DateVitalsAdded))
                    {
                        <tr @(counter++ < 5 ? string.Empty : "class=extra-row")>
                            <td>
                                <a asp-controller="PCA"
                                   asp-action="ViewAssessment"
                                   asp-route-assessmentId="@pca.PcaId"
                                   class="btn btn-info btn-sm">
                                    View
                                </a>
                            </td>
                            <td>@pca.DateVitalsAdded</td>
                            <td>@(pca.Temperature?.ToString() ?? "N/A") *F</td>
                            <td>@pca.Respiration /min</td>
                            <td>@pca.SystolicBloodPressure / @pca.DiastolicBloodPressure</td>
                            <td class="d-sm-none d-lg-table-cell">@pca.Pulse /min</td>
                            <td class="d-sm-none d-lg-table-cell">@pca.PulseOximetry%</td>
                        </tr>
                    }
                    @if (Model.Encounter.PcaRecords.Count > 5)
                    {
                        <tr>
                            <td colspan="99">
                                <button class="btn btn-block btn-info" id="hide-row-btn">
                                    Show More
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<hr />

<a asp-controller="Patient"
   asp-action="Details" 
   asp-route-id="@Model.Patient.Mrn" 
   class="btn btn-outline-primary">
    <i class="fas fa-arrow-left"></i> View Patient
</a>
<a asp-action="CheckedIn"
   class="btn btn-outline-primary m-l-1">
    View <b>Checked In</b> Encounters
</a>