@using Microsoft.AspNetCore.Identity;
@*@model IList<IdentityUser>*@
@model List<UsersPlusViewModel>
@{
    ViewData["Title"] = "ListUsers";

}
<h1>
<a asp-action="Index" class="btn btn-primary">
        <i class="fa fa-arrow-left "></i>
    </a>
List Users
</h1>


@*<div class="card-body">*@
@using (Html.BeginForm("DeleteBatch", "Administration", FormMethod.Post))
{<div class="card">

        <table class="table table-striped" id="table_id">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        ID
                    </th>
                    <th>
                        Start Date
                    </th>
                    <th data-orderable="false">

                    </th>
                    <th data-orderable="false">

                        <input type="checkbox" name="userIdsToDelete" id="checkAll" value="@Model." style="width: 30px; height: 30px; text-align:center; vertical-align:middle;" /> Select All
                    </th>

                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr id="userRoleTableRow">

                        <td>@Model[i].UserName</td>
                        <td>@Model[i].UserId</td>
               
                        <td>@Model[i].LastModified</td>
                        <td>
                             
                            <a asp-action="Details" asp-controller="Administration" asp-route-id="@Model[i].UserId">Details</a> 
                        </td>
                        <td>
                            <input asp-for="@Model[i].IsSelected" type="checkbox" class="checkBox" id="userIdsToDelete" style="width: 30px; height: 30px; text-align:center; vertical-align:middle;" />
                        </td>
                    </tr>
                }
            </tbody>
            <button type="submit" value="Delete" class="btn btn-sm btn-danger rounded-0" onclick="return confirm('Are you sure?')"><i class="fa fa-trash-o"></i> Delete</button>
        </table>
    </div>
}


<link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />


@section scripts{

    <script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">


        $(document).ready(function () {

            $('#table_id').DataTable();


            $("#checkAll").click(function () {
                $(".checkBox").prop('checked',
                    $(this).prop('checked'));
            });

            $("#delete").click(function () {
                var selectedIDs = new Array();
                $('input:checkbox.checkBox').each(function () {
                    if ($(this).prop('checked')) {
                        selectedIDs.push($(this).val());
                    }
                });

                var options = {};
                options.url = "/administration/deletebatch";
                options.type = "POST";
                options.data = JSON.stringify(selectedIDs);
                options.contentType = "application/json";
                options.dataType = "json";
                options.success = function (msg) {
                    alert(msg);
                };
                console.log(options)
                options.error = function () {
                    alert("Error while deleting the records!");
                    console.log(this.error)
                };
                $.ajax(options);



            });
        });

    </script>
}
