@using Microsoft.AspNetCore.Identity;
@*@model IList<IdentityUser>*@
@model List<UsersPlusViewModel>
@{
    ViewData["Title"] = "ListUsers";
}

<h1>ListUsers</h1>
<a asp-action="Index" class="btn btn-outline-primary" id="returnButton">Return To Role List</a>
<br />

@*<div class="card-body">*@
@using (Html.BeginForm("DeleteBatch", "Administration", FormMethod.Post))
{<div class="card">

        <table class="table table-striped" id="table_id">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        ID
                    </th>
                    <th>
                        Start Date
                    </th>
                    <th data-orderable="false">

                    </th>
                    <th data-orderable="false" style="padding: 8px 10px">

                        <input type="checkbox" class="checkBox" name="userIdsToDelete" id="checkAll" value="@Model."  style="width: 30px; height: 30px; text-align:center; vertical-align:middle; padding: 8px 10px"/> Select All

                        <div class="float-right">
                            <button type="submit" value="Delete" class="btn btn-outline-danger float-right" onclick="return confirm('Are you sure?')"><i class="fa fa-trash-o"></i> Delete Selected</button>
                        </div>
                    </th>

                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count(); i++)
                {
                <tr id="userRoleTableRow">

                    @*for DATA tables to work with sort/pagination/etc. there needs to be matching <td> in thead/tbody*@


                    <td> @Model[i].FirstName @Model[i].LastName <input style="display:none" asp-for="@Model[i].UserName" /> </td>
                    <td>@Model[i].UserId <input style="display:none" asp-for="@Model[i].UserId" /></td>

                    <td>@Model[i].StartDate.ToString("d")</td>
                    <td>
                        <a asp-action="EditUsersInRole" asp-route-id="@Model[i].UserId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@Model[i].UserId">Details</a> |
                        <a asp-action="DeleteUser" asp-route-name="@Model[i].UserName"
                           onclick="return confirm('Are you sure you want to delete user :  @Model[i].FirstName @Model[i].LastName ?')">Delete</a>

                    </td>
                    <td>
                        <input asp-for="@Model[i].IsSelected" type="checkbox" class="checkBox" id="userIdsToDelete" style="width: 30px; height: 30px; text-align:center; vertical-align:middle;" />
                    </td>
                </tr>
                }
            </tbody>
        
        </table>
    </div>
}


<link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />


@section scripts{

    <script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">


        $(document).ready(function () {

            $('#table_id').DataTable();


            $("#checkAll").click(function () {
                $(".checkBox").prop('checked',
                    $(this).prop('checked'));
            });

            $("#delete").click(function () {
                var selectedIDs = new Array();
                $('input:checkbox.checkBox').each(function () {
                    if ($(this).prop('checked')) {
                        selectedIDs.push($(this).val());
                    }
                });

                var options = {};
                options.url = "/administration/deletebatch";
                options.type = "POST";
                options.data = JSON.stringify(selectedIDs);
                options.contentType = "application/json";
                options.dataType = "json";
                options.success = function (msg) {
                    alert(msg);
                };
                console.log(options)
                options.error = function () {
                    alert("Error while deleting the records!");
                    console.log(this.error)
                };
                $.ajax(options);



            });
        });
    </script>
}

<style scoped>

    #table_id{
        padding-top: inherit;
    }
    .dataTables_length{
        padding-left: 8px;
        padding-top: 11px;
    }
    .dataTables_filter{
        padding-top: 8px;
        padding-right: 8px;
    }
    .dataTables_info{
        padding-left: 8px;
    }
    .dataTables_wrapper no-footer{

    }
    #returnButton{
        margin-bottom: 10px;
    }
    .dataTables_paginate paging_simple_numbers{
        padding-bottom: 3px;
    }
    table.dataTable thead .sorting_asc {
        background: url("http://cdn.datatables.net/1.10.0/images/sort_asc.png") no-repeat center left;
    }

    table.dataTable thead .sorting_desc {
        background: url("http://cdn.datatables.net/1.10.0/images/sort_desc.png") no-repeat center left;
    }

    table.dataTable thead .sorting {
        background: url("http://cdn.datatables.net/1.10.0/images/sort_both.png") no-repeat center left;
    }
</style>
