<link rel="stylesheet" href="~/css/forms.css" />
@using IS_Proj_HIT.Services
@model IS_Proj_HIT.Models.Encounter

<partial name="PatientBannerPartial" model="ViewBag.Patient" />
<div class="card">
    <div class="card-header bg-primary text-white"><h4>Add Encounter</h4></div>
    <div class="card-body bg-light">
        <form method="post" id="encounter" name="encounter" asp-action="AddEncounter">
            <div class="container" asp-validation-summary="All"></div>
            <input asp-for="@Model.PatientCurrentAge" name="PatientCurrentAge" type="hidden" value="@ConversionService.ConvertDobToCurrentAge(ViewBag.Patient.Dob)" />
            <input asp-for="@Model.Mrn" name="MRN" type="hidden" value="@ViewBag.Patient.Mrn" />
            <div class="row">
                <div class="col-sm-4">
                    <br /><label>Facility Registry Opt Out</label>
                    <input asp-for="@Model.FacilityRegistryOptInOut" name="FacilityRegistryOptInOut" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label>Chief Complaint</label><br />
                    <textarea asp-for="@Model.ChiefComplaint" name="ChiefComplaint" type="text" cols="50" rows="3">
            </textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label>Facilities</label><br />
                    <select class="form-control dropdowns" asp-for="@Model.FacilityId" asp-items="ViewBag.Facility"><option value="">Select Facility</option></select>
                    <span asp-validation-for="FacilityId" class="text-danger"></span>
                </div>
                <div class="col-sm-4">
                    <label>Departments</label><br />
                    <select class="form-control dropdowns" asp-for="@Model.DepartmentId" asp-items="ViewBag.Departments"><option value="">Select Department</option></select>
                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                </div>
                <div class="col-sm-4">
                    <label>Room Number</label><br />
                    <input asp-for="@Model.RoomNumber" name="RoomNumber" placeholder="Room Number" type="text" pattern="\d*" maxlength="4" title="Please only enter positive integers" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label>Point of Origin</label><br />
                    <select class="form-control dropdowns" asp-for="@Model.PointOfOriginId" asp-items="ViewBag.PointsOfOrigin"><option value="">Select Point of Origin</option></select>
                    <span asp-validation-for="PointOfOriginId" class="text-danger"></span>
                </div>
                <div class="col-sm-4">
                    <label>Place of Service</label><br />
                    <select class="form-control dropdowns" asp-for="@Model.PlaceOfServiceId" asp-items="ViewBag.PlacesOfService"><option value="">Select Places of Service</option></select>
                    <span asp-validation-for="PlaceOfServiceId" class="text-danger"></span>
                </div>
                <div class="col-sm-4">
                    <label>Admission Types</label><br />
                    <select class="form-control dropdowns" asp-for="@Model.AdmitTypeId" asp-items="ViewBag.AdmitTypes"><option value="">Select Admission Types</option></select>
                    <span asp-validation-for="AdmitTypeId" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label>Physicians</label><br />
                    <select class="form-control dropdowns" asp-for="@Model.EncounterPhysiciansId" asp-items="ViewBag.EncounterPhysicians"><option value="">Select Encounter Physician</option></select>
                    <span asp-validation-for="EncounterPhysiciansId" class="text-danger"></span>
                </div>
                <div class="col-sm-4">
                    <label>Encounter Types</label><br />
                    <select class="form-control dropdowns" asp-for="@Model.EncounterTypeId" asp-items="ViewBag.EncounterTypes"><option value="">Select Encounter Type</option></select>
                    <span asp-validation-for="EncounterTypeId" class="text-danger"></span>
                </div>
            </div>
            <br />
            <button class="btn-primary" type="submit">Create</button>
        </form>
    </div>
</div>
<hr />
<a asp-action="Index">Home</a>
