@model ListPatientsViewModel
@{
    ViewData["Title"] = "Patient List";
}

<div class="card-header bg-primary text-white"><h4>Patient List</h4></div>
@if (!Model.Patients.Any())
{
    <div class="red">
        <p>No patients found</p>
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    @Html.ActionLink("MRN", "Index", new
                    {
                        sortOrder = ViewBag.MrnSortParm,
                        searchLast = ViewBag.searchLast,
                        searchFirst = ViewBag.searchFirst,
                        searchSSN = ViewBag.searchSSN,
                        searchMRN = ViewBag.searchMRN,
                        searchDOB = ViewBag.searchDOB,
                        searchDOBBefore = ViewBag.searchDOBBefore
                    })
                    @{
                        if (ViewBag.sortOrder == "mrn_desc")
                        {
                            <i class="fa fa-angle-up"></i>
                        }
                        else if (ViewBag.sortOrder == "mrn")
                        {
                            <i class="fa fa-angle-down"></i>
                        }
                    }
                </th>
                <th scope="col">
                    @Html.ActionLink("Name", "Index", new
                    {
                        sortOrder = ViewBag.NameSortParm,
                        searchLast = ViewBag.searchLast,
                        searchFirst = ViewBag.searchFirst,
                        searchSSN = ViewBag.searchSSN,
                        searchMRN = ViewBag.searchMRN,
                        searchDOB = ViewBag.searchDOB,
                        searchDOBBefore = ViewBag.searchDOBBefore
                    })
                    @{
                        if (ViewBag.sortOrder == "name_desc")
                        {
                            <i class="fa fa-angle-up"></i>
                        }
                        else if (ViewBag.sortOrder == "name")
                        {
                            <i class="fa fa-angle-down"></i>
                        }
                    }
                </th>
                <th scope="col">
                    @Html.ActionLink("Date of Birth", "Index", new
                    {
                        sortOrder = ViewBag.DobSortParm,
                        searchLast = ViewBag.searchLast,
                        searchFirst = ViewBag.searchFirst,
                        searchSSN = ViewBag.searchSSN,
                        searchMRN = ViewBag.searchMRN,
                        searchDOB = ViewBag.searchDOB,
                        searchDOBBefore = ViewBag.searchDOBBefore
                    })
                    @{
                        if (ViewBag.sortOrder == "dob_desc")
                        {
                            <i class="fa fa-angle-up"></i>
                        }
                        else if (ViewBag.sortOrder == "dob")
                        {
                            <i class="fa fa-angle-down"></i>
                        }
                    }
                </th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in Model.Patients)
            {
                <tr>
                    <td>@patient.Mrn</td>
                    <td>@patient.FirstName @patient.MiddleName @patient.LastName</td>
                    <td>@(patient.Dob.HasValue ? patient.Dob.Value.ToShortDateString() : string.Empty)</td>
                    <td id="special">
                        <a asp-action="Details" asp-route-id="@patient.Mrn" class="btn btn-outline-primary">Details</a>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}
<hr />

<a asp-controller="Patient" asp-action="PatientSearch" class="btn btn-outline-primary"><i class="fas fa-search"></i> Find Another Patient</a>
@if (User.IsInRole("Administrator") || User.IsInRole("Nursing Faculty") || User.IsInRole("Registrar"))
{
    <a asp-action="AddPatient" class="btn btn-outline-primary"><i class="fa fa-plus" aria-hidden="true"></i> Create New Patient</a>
    }