@model ListPatientsViewModel
@{
    ViewData["Title"] = "Patient List";
}

<div class="card-header bg-primary text-white"><h4>Patient List</h4></div>
@if (!Model.Patients.Any())
{
    <div class="red">
        <p>No patients found</p>
    </div>
}
else
{/* PAGINATION ON TOP
    @if (@ViewBag.TotalResults > 10)
    {
    <hr />
    <nav aria-label="Pages">
        <ul class="pagination">
             <p>Current Page: @ViewBag.currentPage</p>
                @Html.ActionLink("Previous", "Index", new
                    {
                        sortOrder = ViewBag.sortOrder,
                        searchLast = ViewBag.searchLast,
                        searchFirst = ViewBag.searchFirst,
                        searchSSN = ViewBag.searchSSN,
                        searchMRN = ViewBag.searchMRN,
                        searchDOB = ViewBag.searchDOB,
                        searchDOBBefore = ViewBag.searchDOBBefore,
                        pageNum = ViewBag.pageNum - 1
                    })
            @foreach (var num in @ViewBag.PagesArray)
            {
                string numString = num.ToString();
                @Html.ActionLink(numString, "Index", new
                    {
                        sortOrder = ViewBag.sortOrder,
                        searchLast = ViewBag.searchLast,
                        searchFirst = ViewBag.searchFirst,
                        searchSSN = ViewBag.searchSSN,
                        searchMRN = ViewBag.searchMRN,
                        searchDOB = ViewBag.searchDOB,
                        searchDOBBefore = ViewBag.searchDOBBefore,
                        pageNum = num - 1
                    })
                
            }
                @Html.ActionLink("Next", "Index", new
                    {
                        sortOrder = ViewBag.sortOrder,
                        searchLast = ViewBag.searchLast,
                        searchFirst = ViewBag.searchFirst,
                        searchSSN = ViewBag.searchSSN,
                        searchMRN = ViewBag.searchMRN,
                        searchDOB = ViewBag.searchDOB,
                        searchDOBBefore = ViewBag.searchDOBBefore,
                        pageNum = ViewBag.pageNum + 1
                    })
        </ul>
    </nav>
    <hr />
    }*/
    <p>Search Results: @ViewBag.TotalResults</p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    @Html.ActionLink("MRN", "Index", new
                    {
                        sortOrder = ViewBag.MrnSortParm,
                        searchLast = ViewBag.searchLast,
                        searchFirst = ViewBag.searchFirst,
                        searchSSN = ViewBag.searchSSN,
                        searchMRN = ViewBag.searchMRN,
                        searchDOB = ViewBag.searchDOB,
                        searchDOBBefore = ViewBag.searchDOBBefore
                    })
                    @{
                        if (ViewBag.sortOrder == "mrn_desc")
                        {
                            <i class="fa fa-angle-up"></i>
                        }
                        else if (ViewBag.sortOrder == "mrn")
                        {
                            <i class="fa fa-angle-down"></i>
                        }
                    }
                </th>
                <th scope="col">
                    @Html.ActionLink("Name", "Index", new
                    {
                        sortOrder = ViewBag.NameSortParm,
                        searchLast = ViewBag.searchLast,
                        searchFirst = ViewBag.searchFirst,
                        searchSSN = ViewBag.searchSSN,
                        searchMRN = ViewBag.searchMRN,
                        searchDOB = ViewBag.searchDOB,
                        searchDOBBefore = ViewBag.searchDOBBefore
                    })
                    @{
                        if (ViewBag.sortOrder == "name_desc")
                        {
                            <i class="fa fa-angle-up"></i>
                        }
                        else if (ViewBag.sortOrder == "name")
                        {
                            <i class="fa fa-angle-down"></i>
                        }
                    }
                </th>
                <th scope="col">
                    @Html.ActionLink("Date of Birth", "Index", new
                    {
                        sortOrder = ViewBag.DobSortParm,
                        searchLast = ViewBag.searchLast,
                        searchFirst = ViewBag.searchFirst,
                        searchSSN = ViewBag.searchSSN,
                        searchMRN = ViewBag.searchMRN,
                        searchDOB = ViewBag.searchDOB,
                        searchDOBBefore = ViewBag.searchDOBBefore
                    })
                    @{
                        if (ViewBag.sortOrder == "dob_desc")
                        {
                            <i class="fa fa-angle-up"></i>
                        }
                        else if (ViewBag.sortOrder == "dob")
                        {
                            <i class="fa fa-angle-down"></i>
                        }
                    }
                </th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in Model.Patients)
            {
                <tr>
                    <td>@patient.Mrn</td>
                    <td>@patient.FirstName @patient.MiddleName @patient.LastName</td>
                    <td>@(patient.Dob.HasValue ? patient.Dob.Value.ToShortDateString() : string.Empty)</td>
                    <td id="special">
                        <a asp-action="Details" asp-route-id="@patient.Mrn" class="btn btn-outline-primary">Details</a>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}
<hr />
<!-- PAGINATION ON BOTTOM -->
@if (@ViewBag.TotalResults > 10)
    {
    <nav aria-label="Pages">
        <ul class="pagination">
            @Html.ActionLink("Previous", "Index", new
                {
                    sortOrder = ViewBag.sortOrder,
                    searchLast = ViewBag.searchLast,
                    searchFirst = ViewBag.searchFirst,
                    searchSSN = ViewBag.searchSSN,
                    searchMRN = ViewBag.searchMRN,
                    searchDOB = ViewBag.searchDOB,
                    searchDOBBefore = ViewBag.searchDOBBefore,
                    pageNum = ViewBag.pageNum - 1
                })
            @foreach (var num in @ViewBag.PagesArray)
            {
                string numString = num.ToString();
                @Html.ActionLink(numString, "Index", new
                    {
                        sortOrder = ViewBag.sortOrder,
                        searchLast = ViewBag.searchLast,
                        searchFirst = ViewBag.searchFirst,
                        searchSSN = ViewBag.searchSSN,
                        searchMRN = ViewBag.searchMRN,
                        searchDOB = ViewBag.searchDOB,
                        searchDOBBefore = ViewBag.searchDOBBefore,
                        pageNum = num - 1
                    })
                
            }
            @Html.ActionLink("Next", "Index", new
                {
                    sortOrder = ViewBag.sortOrder,
                    searchLast = ViewBag.searchLast,
                    searchFirst = ViewBag.searchFirst,
                    searchSSN = ViewBag.searchSSN,
                    searchMRN = ViewBag.searchMRN,
                    searchDOB = ViewBag.searchDOB,
                    searchDOBBefore = ViewBag.searchDOBBefore,
                    pageNum = ViewBag.pageNum + 1
                })
        </ul>
    </nav>
}
 <p>Current Page: @ViewBag.currentPage</p>

<a asp-controller="Patient" asp-action="PatientSearch" class="btn btn-outline-primary"><i class="fas fa-search"></i> Find Another Patient</a>
@if (User.IsInRole("Administrator") || User.IsInRole("Nursing Faculty") || User.IsInRole("Registrar"))
{
    <a asp-action="AddPatient" class="btn btn-outline-primary"><i class="fa fa-plus" aria-hidden="true"></i> Create New Patient</a>
    }

<hr />
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script>
    /*
    $(function() {
        var pageNum = $("p:contains('Current Page')").text().substring(14, 16);
        //console.log(pageNum);
        $('a').filter(function(index) { return $(this).text() === pageNum; }).addClass("active");
    });
    
    var $as = $('a').click(function(){
        $as.removeClass('active');
        $(this).addClass('active');
    });*/
</script>

