@using IS_Proj_HIT.Models
@model ListAlertsViewModel

@ViewBag.Message
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary widely">
    <div class="patientBanner"><span class="heading">MRN:</span><br /> @ViewBag.myMrn</div><br />
    <br /><div class="patientBanner"><span class="heading">PATIENT: </span> @ViewBag.FirstName @ViewBag.MiddleName @ViewBag.LastName</div>
    <div class="dob patientBanner"><span class="heading">DOB: </span> @ViewBag.Dob.ToShortDateString()</div>
    <div class="patientBanner"><span class="heading">Age: </span> <span class="age"></span> years</div>
</nav>
<br />
@if (Model.PatientAlerts.Count() == 0)
{
    <div class="red">
        <p>No patient alerts have been created for this patient yet.</p>
    </div>
}
else
{
    <h2><i class="fas fa-exclamation-triangle alertColor"></i> Patient Alerts:</h2>
    <div class="red">@Html.Raw(TempData["msg"])</div>
    <table class="table">
        <thead>
            <tr>
                <th class="linky" scope="col">@Html.ActionLink("Alert Type", "ListAlerts", new { sortOrder = ViewBag.AlertTypeSortParm })</th>
                @*<th scope="col">MRN</th>*@
                <th scope="col">Active?</th>
                @*<th scope="col">Start Date</th>*@
                <th class="linky" scope="col">@Html.ActionLink("Start Date", "ListAlerts", new { sortOrder = ViewBag.StartSortParm })</th>
                <th scope="col">End Date</th>
                <th scope="col">Comments</th>
                @*<th class="linky" scope="col">@Html.ActionLink("Comments", "ListAlerts", new { sortOrder = ViewBag.CommentSortParm })</th>*@
                <th scope="col">Last Modified</th>
                @*<th class="linky" scope="col">@Html.ActionLink("Last Modified", "ListAlerts", new { sortOrder = ViewBag.LastModifiedSortParm })</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var patientalerts in Model.PatientAlerts)
            {
                <tr>

                    <td>@patientalerts.AlertType.Name</td>
                    @*<td>@patientalerts.Mrn</td>*@
                    <td class="hideActive">@((bool)patientalerts.IsActive ? "Yes" : "No")</td>
                    <td class="hideStart">@patientalerts.StartDate.ToShortDateString()</td>
                    <td class="hideEnd">@(patientalerts.EndDate.HasValue ? @patientalerts.EndDate.Value.ToString("MM/dd/yyyy") : "")</td>
                    <td class="hideComments" width="300px">@patientalerts.Comments</td>
                    <td class="hideMod">@patientalerts.LastModified</td>
                </tr>
            }
        </tbody>
    </table>
}


<a asp-action="DisplayAddAlert" asp-route-id="@ViewBag.myMrn" class="btn btn-outline-primary">
    <i class="fas fa-exclamation-triangle alertColor"></i> Add An Alert
</a>
<a asp-controller="Patient" asp-action="BackToDetails" asp-route-id="@ViewBag.myMrn" class="btn btn-outline-primary">
    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back to Details
</a>

<hr />
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script>

    // Calc age in div in Patient Banner
    $(function () {
        var dob = $('.dob').html();
        var dob1 = $('.dob').val();
        if (dob != '') {
            var DateCreated = new Date(Date.parse(dob));
            var today = new Date();

            var dayDiff = Math.ceil(today - DateCreated) / (1000 * 60 * 60 * 24 * 365);
            var age = parseInt(dayDiff);
            $('.age').text(age);

        }

        if (dob1 != '') {
            var DateCreated = new Date(Date.parse(dob1));
            var today = new Date();

            var dayDiff = Math.ceil(today - DateCreated) / (1000 * 60 * 60 * 24 * 365);
            var age = parseInt(dayDiff);

            $('.age').text(age);

        }


        // Hide Active column
        //$('.showAllCols').on('click', function () {
        //    $('.hideActive').css('display', 'block');
        //    $('.hideStart').css('display', 'block');
        //    $('.hideEnd').css('display', 'block');

        //});

        //$('.hideActive').on('click', function () {
        //    $('.hideActive').css('display', 'none');
        //});

        //$('.hideStart').on('click', function () {
        //    $('.hideStart').css('display', 'none');
        //});

        //$('.hideEnd').on('click', function () {
        //    $('.hideEnd').css('display', 'none');
        //});


    });

</script>