@model AssessmentFormPageModel;
@{
    ViewData["Title"] = "Patient Care Assessment";
}

<form asp-action="CreateAssessment" class="col" id="pca" method="post" name="pca">
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary nav-fill w-100 widely">
        <ul class="navbar-nav nav-fill w-100">
            <li class="nav-item menu-item">
                <button class="btn btn-danger" type="button">
                    <h4>Patient:&nbsp;@ViewBag.Patient.FirstName&nbsp;@ViewBag.Patient.MiddleName&nbsp;@ViewBag.Patient.LastName</h4>
                </button>
            </li>
            <li class="nav-item menu-item dob patientBanner">
                <span class="heading">DOB: </span> @ViewBag.Patient.Dob.ToShortDateString()
            </li>
            <li class="nav-item menu-item patientBanner">
                <span class="heading">Age: </span> @ViewBag.Encounter.PatientCurrentAge
            </li>
            <li class="nav-item menu-item patientBanner">
                <span class="heading">MRN: </span>@(ViewBag.Encounter.Mrn ?? string.Empty)
            </li>
            <li class="nav-item menu-item patientBanner">
                @if (@ViewBag.PatientAlertsCount > 0)
                {
                    <a asp-controller="Patient" asp-action="ListAlerts" asp-route-id="@ViewBag.Encounter.Mrn" id="listAlertsButton" class="btn btn-outline-primary">
                        <i class="fas fa-exclamation-triangle alertColor"></i> Alerts
                        <span class="btn btn-dark btn-warning">
                            @ViewBag.PatientAlertsCount
                        </span>
                    </a>
                }
            </li>
        </ul>
    </nav>
    <input type="hidden" asp-for="PcaRecord.EncounterId" value="@ViewBag.Encounter.EncounterId" />
    <input type="hidden" asp-for="PatientMrn" value="@ViewBag.Patient.Mrn" />
    <div class="tab-content">
        <!-- General tab -->
        <div aria-labelledby="general-tab" class="tab-pane active" id="general" role="tabpanel">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4>Patient Care Assessment - General Systems <span class="float-right">Page 1</span></h4>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-sm-12 col-lg-3 ">
                            <button class="btn btn-primary m-r" type="button">
                                <i class="fas fa-info"></i>
                            </button>
                            <label class="form-label" for="inputTemperature">Temperature</label>
                        </div>
                        <div class="col-sm-12 col-lg-4">
                            <input type="number" class="form-control" id="inputTemperature" placeholder="Temperature"
                                   step="0.01" min="-999.99" max="999.99" asp-for="PcaRecord.Temperature">
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <select class="form-control" asp-items="@ViewBag.TempUnits" asp-for="TempUnit"></select>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <select class="form-control" asp-items="@ViewBag.TempRoutes" asp-for="PcaRecord.TempRouteTypeId"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 col-lg-3"></div>
                        <div class="col-sm-12 col-lg-9">
                            <input class="form-control" placeholder="Notes" type="text" asp-for="VitalNotes[0]" />
                        </div>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <div class="col-sm-12 col-lg-3 ">
                            <button class="btn btn-primary m-r" type="button">
                                <i class="fas fa-info"></i>
                            </button>
                            <label class="form-label" for="inputWeight">Weight</label>
                        </div>
                        <div class="col-sm-12 col-lg-4">
                            <input type="number" class="form-control" id="inputWeight" placeholder="Weight"
                                   min="0" max="99999999.99" step="0.01" asp-for="PcaRecord.Weight">
                        </div>
                        <div class="col-sm-12 col-lg-5">
                            <select class="form-control" asp-items="@ViewBag.WeightUnits" asp-for="PcaRecord.WeightUnits"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm col-lg-3"></div>
                        <div class="col-sm-12 col-lg-9">
                            <input class="form-control" placeholder="Notes" type="text" asp-for="VitalNotes[1]" />
                        </div>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <div class="col-sm-12 col-lg-3 ">
                            <button class="btn btn-primary m-r" type="button">
                                <i class="fas fa-info"></i>
                            </button>
                            <label class="form-label" for="inputHeight">Height/Length</label>
                        </div>
                        <div class="col-sm-12 col-lg-4">
                            <input type="number" class="form-control" id="inputHeight" placeholder="Height/Length"
                                   min="0" max="9999.99" step="0.01" asp-for="PcaRecord.Height">
                        </div>
                        <div class="col-sm-12 col-lg-5">
                            <select class="form-control" asp-items="@ViewBag.LengthUnits" asp-for="PcaRecord.HeightUnits"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm col-lg-3"></div>
                        <div class="col-sm-12 col-lg-9">
                            <input class="form-control" placeholder="Notes" type="text" asp-for="VitalNotes[2]" />
                        </div>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <div class="col-sm-12 col-lg-3 ">
                            <button class="btn btn-primary m-r" type="button">
                                <i class="fas fa-info"></i>
                            </button>
                            <label class="form-label" for="inputHead">Head Circumference</label>
                        </div>
                        <div class="col-sm-12 col-lg-4">
                            <input type="number" class="form-control" id="inputHead" placeholder="Head Circ."
                                   min="0" max="9999.999" step="0.01" asp-for="PcaRecord.HeadCircumference">
                        </div>
                        <div class="col-sm-12 col-lg-5">
                            <select class="form-control" asp-items="@ViewBag.LengthUnits" asp-for="PcaRecord.HeadCircumferenceUnits"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm col-lg-3"></div>
                        <div class="col-sm-12 col-lg-9">
                            <input class="form-control" placeholder="Notes" type="text" asp-for="VitalNotes[3]" />
                        </div>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <div class="col-sm-12 col-lg-3 ">
                            <button class="btn btn-primary m-r" type="button">
                                <i class="fas fa-info"></i>
                            </button>
                            <label class="form-label" for="inputBMI">Body Mass Index</label>
                        </div>
                        <div class="col-sm-12 col-lg-4">
                            <input type="number" class="form-control" id="inputBMI" placeholder="BMI"
                                   min="0" max="9999.99" step="0.01" asp-for="PcaRecord.BodyMassIndex">
                        </div>
                        <div class="col-sm-12 col-lg-5">
                            <select class="form-control" asp-items="@ViewBag.BodyMassIndexRoutes" asp-for="PcaRecord.BmiMethodId"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm col-lg-3"></div>
                        <div class="col-sm-12 col-lg-9">
                            <input class="form-control" placeholder="Notes" type="text" asp-for="VitalNotes[4]" />
                        </div>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <div class="col-sm-12 col-lg-3">
                            <button class="btn btn-primary m-r" type="button">
                                <i class="fas fa-info"></i>
                            </button>
                            <label class="form-label" for="inputSystolic">Blood Pressure</label>
                        </div>
                        <div class="col-sm-12 col-lg-2">
                            <input type="number" class="form-control" id="inputSystolic" placeholder="Systolic"
                                   min="0" max="999" step="0.01" asp-for="PcaRecord.SystolicBloodPressure">
                        </div>
                        <div class="col-sm-12 col-lg-2">
                            <input type="number" class="form-control" id="inputDiastolic" placeholder="Diastolic"
                                   min="0" max="999" step="0.01" asp-for="PcaRecord.DiastolicBloodPressure">
                        </div>
                        <div class="col-sm-12 col-lg-5">
                            <select class="form-control" asp-items="@ViewBag.BloodPressureRoutes" asp-for="PcaRecord.BloodPressureRouteTypeId"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 col-lg-3">
                        </div>
                        <div class="col-sm-12 col-lg-9">
                            <input class="form-control" placeholder="Notes" type="text" asp-for="VitalNotes[5]" />
                        </div>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <div class="col-sm-12 col-lg-3">
                            <button class="btn btn-primary m-r" type="button">
                                <i class="fas fa-info"></i>
                            </button>
                            <label class="form-label" for="inputPulse">Pulse</label>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <input type="number" class="form-control" id="inputPulse" placeholder="Pulse"
                                   min="0" max="127" step="0.01" asp-for="PcaRecord.Pulse">
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <select class="form-control" asp-items="@ViewBag.PulseRoute" asp-for="PcaRecord.PulseRouteTypeId"></select>
                        </div>
                        <div class="col-sm-12 col-lg-5">
                            <input class="form-control" placeholder="Notes" type="text" asp-for="VitalNotes[6]" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 col-lg-3">
                            <button class="btn btn-primary m-r" type="button">
                                <i class="fas fa-info"></i>
                            </button>
                            <label class="form-label" for="inputPulseOxi">Pulse Oximentry</label>
                        </div>
                        <div class="col-sm-12 col-lg-4">
                            <input type="number" class="form-control" id="inputPulseOxi" placeholder="Pulse Oxim"
                                   min="0" max="127" step="0.01" asp-for="PcaRecord.PulseOximetry">
                        </div>
                        <div class="col-sm-12 col-lg-5">
                            <input class="form-control" placeholder="Notes" type="text" asp-for="VitalNotes[7]" />
                        </div>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <div class="col-sm-12 col-lg-3">
                            <button class="btn btn-primary m-r" type="button">
                                <i class="fas fa-info"></i>
                            </button>
                            <label class="form-label" for="inputRespiration">Respiration</label>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <input type="number" class="form-control" id="inputRespiration" placeholder="Respiration"
                                   min="0" max="127" step="0.01" asp-for="PcaRecord.Respiration">
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <select class="form-control" asp-items="@ViewBag.O2DeliveryRoutes" asp-for="PcaRecord.O2deliveryTypeId"></select>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <input class="form-control" placeholder="Flow Rate"type="text" asp-for="PcaRecord.OxygenFlow">
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <input class="form-control" placeholder="O2 %"
                                   min="0" max="9.9999" step="0.01"
                                   type="number" asp-for="PcaRecord.PercentOxygenDelivered">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm col-lg-3"></div>
                        <div class="col-sm-12 col-lg-9">
                            <input class="form-control" placeholder="Notes" type="text" asp-for="VitalNotes[8]" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pain tab -->
        <div aria-labelledby="pain-tab" class="tab-pane" id="painTab" role="tabpanel">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4>Patient Care Assessment - Pain<span class="float-right">Page 2</span></h4>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        @foreach (var painScaleType in Model.PainScales)
                        {
                            <div class="col-sm-6 col-lg-3 mb-1">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-info"></i>
                                </button>
                                <input id="@(painScaleType.PainScaleTypeName + painScaleType.PainScaleTypeId)"
                                       class="painScaleRadio"
                                       type="radio"
                                       asp-for="PcaRecord.PainScaleTypeId"
                                       value="@painScaleType.PainScaleTypeId">
                                <label class="btn btn-outline-primary w-75 mb-0"
                                       for="@(painScaleType.PainScaleTypeName + painScaleType.PainScaleTypeId)">
                                    @painScaleType.PainScaleTypeName
                                </label>
                            </div>
                        }
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 col-lg-3">
                            <label class="form-label mb-0" for="painLevelGoal">
                                Pain Level Goal
                            </label>
                            <input id="painLevelGoal"
                                   class="form-control"
                                   type="number"
                                   min="0" max="10" step="1"
                                   asp-for="PcaRecord.PainLevelGoal">
                        </div>
                    </div>
                    <hr />
                    @foreach (var painScaleType in Model.PainScales)
                    {
                        @foreach (var painParam in painScaleType.PainParameters)
                        {
                            <div class="form-group row painScale @("painScale-" + painScaleType.PainScaleTypeId) d-none">
                                <div class="col-sm-12 col-lg-3">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-info"></i>
                                    </button>
                                    <label class="form-label">@painParam.ParameterName</label>
                                </div>
                            </div>
                            <div class="form-group row painScale @("painScale-" + painScaleType.PainScaleTypeId) d-none">
                                @foreach (var painRating in painParam.PainRatings)
                                {
                                    <div class="col-sm-4 col-lg-2 mb-1">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-info"></i>
                                        </button>
                                        <input id="@(painParam.ParameterName + painParam.PainParameterId + painRating.PainRatingId)"
                                               type="radio"
                                               asp-for="PainRatings[painParam.PainParameterId]"
                                               value="@painRating.PainRatingId">
                                        <label class="btn btn-outline-primary w-50 mb-0"
                                               for="@(painParam.ParameterName + painParam.PainParameterId + painRating.PainRatingId)">
                                            @painRating.Value
                                        </label>
                                    </div>
                                }
                                @if (painScaleType.PainScaleTypeName is "Wong-Baker")
                                {
                                    <figure>
                                        <img alt="Pain Scale 0 to 10" src="~/img/FACES_English_Black.jpg">
                                        <figcaption>
                                            FACES licensed to Angela Lee February, 2020
                                        </figcaption>
                                    </figure>
                                }
                            </div>
                            <hr class="painScale @("painScale-" + painScaleType.PainScaleTypeId) d-none" />
                        }
                    }
                </div>
            </div>
        </div>

        <!-- Vitals tab -->
        <div aria-labelledby="secondary-tab" class="tab-pane" id="secondary" role="tabpanel">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4>Patient Care Assessment - Secondary Systems<span class="float-right">Page 3</span></h4>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <ul class="nav nav-tabs nav-fill small font-weight-bold border" id="myTab" role="tablist">
                            @foreach (var careSystem in Model.SecondarySystemTypes)
                            {
                                <li class="nav-item">
                                    <a aria-controls="careSystem-@(careSystem.CareSystemTypeId)" aria-selected="false"
                                       id="careSystem-@(careSystem.CareSystemTypeId)-tab" class="nav-link"
                                       data-toggle="tab" href="#careSystem-@(careSystem.CareSystemTypeId)" role="tab">
                                        @careSystem.Name
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="tab-content border p-3" id="careSystemTabContent">
                        @foreach (var careSystem in Model.SecondarySystemTypes)
                        {
                            <div aria-labelledby="careSystem-@(careSystem.CareSystemTypeId)-tab" class="tab-pane fade show"
                                 id="careSystem-@(careSystem.CareSystemTypeId)" role="tabpanel">
                                @foreach (var careParam in careSystem.CareSystemParameters)
                                {
                                    <div class="form-group row">
                                        <div class="col-sm-12 col-lg-5">
                                            <button class="btn btn-primary m-r" type="button">
                                                <i class="fas fa-info"></i>
                                            </button>
                                            <label class="form-label">@careParam.Name</label>
                                        </div>
                                        <div class="col-sm-4 col-lg-2 mb-1">
                                            <input id="@(careSystem.Name + careParam.CareSystemParameterId)-na"
                                                   asp-for="Assessments[careParam.CareSystemParameterId].IsWithinNormalLimits"
                                                   value=""
                                                   type="radio" checked>
                                            <label class="btn btn-outline-primary w-90 mb-0"
                                                   for="@(careSystem.Name + careParam.CareSystemParameterId)-na">
                                                Not Assessed
                                            </label>
                                        </div>
                                        <div class="col-sm-4 col-lg-3 mb-1">
                                            <input id="@(careSystem.Name + careParam.CareSystemParameterId)-f"
                                                   type="radio"
                                                   asp-for="Assessments[careParam.CareSystemParameterId].IsWithinNormalLimits"
                                                   value="true">
                                            <label class="btn btn-outline-primary w-90 mb-0"
                                                   for="@(careSystem.Name + careParam.CareSystemParameterId)-f">
                                                Within Normal Limits
                                            </label>
                                        </div>
                                        <div class="col-sm-4 col-lg-2 mb-1">
                                            <input id="@(careSystem.Name + careParam.CareSystemParameterId)-t"
                                                   type="radio"
                                                   asp-for="Assessments[careParam.CareSystemParameterId].IsWithinNormalLimits"
                                                   value="false">
                                            <label class="btn btn-outline-primary w-90 mb-0"
                                                   for="@(careSystem.Name + careParam.CareSystemParameterId)-t">
                                                Abnormal
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12 col-lg-12 mb-1">
                                            <input id="@(careSystem.Name + careParam.CareSystemParameterId)-t"
                                                   class="form-control"
                                                   type="text"
                                                   asp-for="Assessments[careParam.CareSystemParameterId].Comment"
                                                   placeholder="Comment">
                                        </div>
                                    </div>
                                    <hr />
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--For navigating PCA-->
    <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
        <li class="nav-item">
            <a aria-controls="general" aria-selected="true" class="nav-link active" data-toggle="tab" href="#general" id="general-tab" role="tab">General Systems</a>
        </li>
        <li class="nav-item">
            <a aria-controls="pain" aria-selected="false" class="nav-link" data-toggle="tab" href="#painTab" id="pain-tab" role="tab">Pain Assessment</a>
        </li>
        <li class="nav-item">
            <a aria-controls="secondary" aria-selected="false" class="nav-link" data-toggle="tab" href="#secondary" id="secondary-tab" role="tab">Secondary Systems</a>
        </li>
    </ul>
    <button class="btn btn-primary btn-block" type="submit">Save & Close Assessment</button>
</form>

<div aria-atomic="true" aria-live="polite" class="d-flex justify-content-center align-items-center" style="min-height: 200px;">
    <!-- Then put toasts within -->
    <div aria-atomic="true" aria-live="assertive" class="toast" role="alert">
        <div class="toast-header">
            <img alt="..." class="rounded mr-2" src="...">
            <strong class="mr-auto">Bootstrap</strong>
            <small>11 mins ago</small>
            <button aria-label="Close" class="ml-2 mb-1 close" data-dismiss="toast" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
    </div>
</div>

<!-- Modal for informational messages -->
<div aria-hidden="true" aria-labelledby="PcaInfoModalLabel" class="modal fade" id="PcaInfoModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="PcaInfoModalLabel">New message</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="message-text"></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>