@model CareAssessmentPageModel;

<nav class="navbar navbar-expand-lg navbar-dark bg-secondary nav-fill w-100 widely">
    <ul class="navbar-nav nav-fill w-100">
        <li class="nav-item menu-item">
            <button type="button" class="btn btn-danger">
                <h4>Patient:&nbsp;@Model.Patient.FirstName&nbsp;@Model.Patient.MiddleName&nbsp;@Model.Patient.LastName</h4>
            </button>
        </li>
        <li class="nav-item menu-item dob patientBanner">
            <span class="heading">DOB: </span> @Model.Patient.Dob.ToShortDateString()
        </li>
        <li class="nav-item menu-item patientBanner">
            <span class="heading">Age: </span> @Model.Encounter.PatientCurrentAge
        </li>
        <li class="nav-item menu-item patientBanner">
            <span class="heading">MRN: </span>@(Model.Encounter.Mrn ?? string.Empty)
        </li>
    </ul>
</nav>
<div class="card">
    <div class="card-header bg-primary text-white">
        <h4>
            Patient Care Assessment Information
            <a asp-action="UpdateAssessment"
               asp-route-assessmentId="@Model.Assessment.Pcaid"
               class="btn btn-info btn-sm float-right">
                Update Patient Care Assessment
            </a>
        </h4>
    </div>
    <div class="card-body bg-light">
        <div class="container">
            <h5 class="row d-block">
                <span class="float-left">Date Vitals Entered: @Model.Assessment.DateVitalsAdded</span>
                <span class="float-right">Last Modified: @Model.Assessment.LastModified</span>
            </h5>
            <table class="table table-bordered table-primary">
                <thead>
                    <tr>
                        <th>Temperature</th>
                        <th>Respiration</th>
                        <th>Blood Pressure</th>
                        <th class="d-md-none d-lg-table-cell">Pulse</th>
                        <th class="d-md-none d-lg-table-cell">Pulse Oximetry</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>@(Model.Assessment.Temperature?.ToString() ?? "N/A") *F</td>
                    <td>@Model.Assessment.Respiration /min</td>
                    <td>@Model.Assessment.SystolicBloodPressure / @Model.Assessment.DiastolicBloodPressure</td>
                    <td class="d-md-none d-lg-table-cell">@Model.Assessment.Pulse /min</td>
                    <td class="d-md-none d-lg-table-cell">@Model.Assessment.PulseOximetry%</td>
                </tr>
                </tbody>
            </table>
            <hr/>
            <h5>General Health Data here (Height/Weight/Etc)</h5>
            <hr/>
            <h5>Pain Scale Info here</h5>
            <hr/>
            <h5>Systems Review here</h5>
        </div>
    </div>
</div>
<hr/>

<a asp-controller="Encounter"
   asp-action="ViewEncounter"
   asp-route-encounterId="@Model.Encounter.EncounterId"
   asp-route-isPatientEncounter="false"
   class="btn btn-outline-danger">
    Return To Encounter
</a>