@using IS_Proj_HIT.Models.PCA
@model PcaRecord;

<nav class="navbar navbar-expand-lg navbar-dark bg-secondary nav-fill w-100 widely">
    <ul class="navbar-nav nav-fill w-100">
        <li class="nav-item menu-item">
            <button class="btn btn-danger" type="button">
                <h4>Patient:&nbsp;@ViewBag.Patient.FirstName&nbsp;@ViewBag.Patient.MiddleName&nbsp;@ViewBag.Patient.LastName</h4>
            </button>
        </li>
        <li class="nav-item menu-item dob patientBanner">
            <span class="heading">DOB: </span> @ViewBag.Patient.Dob.ToShortDateString()
        </li>
        <li class="nav-item menu-item patientBanner">
            <span class="heading">Age: </span> @Model.Encounter.PatientCurrentAge
        </li>
        <li class="nav-item menu-item patientBanner">
            <span class="heading">MRN: </span>@(Model.Encounter.Mrn ?? string.Empty)
        </li>
        <li class="nav-item menu-item patientBanner">
            @if (@ViewBag.PatientAlertsCount > 0)
            {
                <a asp-controller="Patient" asp-action="ListAlerts" asp-route-id="@Model.Encounter.Mrn" id="listAlertsButton" class="btn btn-outline-primary">
                    <i class="fas fa-exclamation-triangle alertColor"></i> Alerts
                    <span class="btn btn-dark btn-warning">
                        @ViewBag.PatientAlertsCount
                    </span>
                </a>
            }
        </li>

    </ul>
</nav>
<div class="card">
    <div class="card-header bg-primary text-white">
        <h4>
            Patient Care Assessment Information
            <a asp-action="UpdateAssessment"
               asp-route-assessmentId="@Model.PcaId"
               asp-route-patientMRN="@ViewBag.Patient.Mrn"
               asp-route-encounterId="@Model.Encounter.EncounterId"
               class="btn btn-info btn-sm float-right">
                Update Patient Care Assessment
            </a>
        </h4>
    </div>
    <div class="card-body bg-light">
        <div class="container">
            <h5 class="d-block pb-1 mb-2">
                <span class="float-left">Date Vitals Entered: <b>@Model.DateVitalsAdded?.ToString("g")</b></span>
                <span class="float-right">Last Modified: <b>@Model.LastModified.ToString("g")</b></span>
            </h5>
            <table class="table table-bordered table-primary">
                <thead>
                <tr>
                    <th>Temperature</th>
                    <th>Weight</th>
                    <th>Height</th>
                    <th>Head Circumference</th>
                    <th>Body Mass Index</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>@(Model.Temperature is null ? "N.A." : $"{Model.Temperature} *F ({Model.TempRouteType.TempRouteTypeName})")</td>
                    <td>@(Model.Weight is null ? "N.A." : $"{Model.Weight} {Model.WeightUnits}")</td>
                    <td>@(Model.Height is null ? "N.A." : $"{Model.Height} {Model.HeightUnits}")</td>
                    <td>@(Model.HeadCircumference is null ? "N.A." : $"{Model.HeadCircumference} {Model.HeadCircumferenceUnits}")</td>
                    <td>@(Model.BodyMassIndex is null ? "N.A." : $"{Model.BodyMassIndex} ({Model.BmiMethod.Name})")</td>
                </tr>
                </tbody>
            </table>
            <table class="table table-bordered table-primary">
                <thead>
                <tr>
                    <th>Blood Pressure</th>
                    <th>Pulse</th>
                    <th>Pulse Oximetry</th>
                    <th>Respiration</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        @(Model.SystolicBloodPressure is null || Model.DiastolicBloodPressure is null ? "N.A." :
                            $"{Model.SystolicBloodPressure} / {Model.DiastolicBloodPressure} ({Model.BmiMethod.Name})")
                    </td>
                    <td>@(Model.Pulse is null ? "N.A." : $"{Model.Pulse} /min ({Model.PulseRouteType.PulseRouteTypeName})")</td>
                    <td>@(Model.PulseOximetry is null ? "N.A." : $"{Model.PulseOximetry}%")</td>
                    <td>@(Model.Respiration is null ? "N.A." : $"{Model.Respiration} /min ({Model.O2deliveryType.O2deliveryTypeName})")</td>
                </tr>
                </tbody>
            </table>
            <table class="table table-bordered table-primary">
                <thead>
                <tr>
                    @if (Model.PainLevelGoal != null)
                    {
                        <th>Goal: @Model.PainLevelGoal / 10</th>
                    }
                    <th class="text-center" colspan="99">Pain Assessment - @Model.PainScaleType.PainScaleTypeName</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var pa in Model.PainAssessment)
                {
                    <tr>
                        <td>@pa.PainParameter.ParameterName</td>
                        <td>@pa.PainRating.Value</td>
                        <td>@pa.PainRating.Description</td>
                    </tr>
                }
                @if (Model.PainScaleType.PainScaleTypeName is "Wong-Baker")
                {
                    <tr>
                        <td colspan="99">
                            <figure>
                                <img alt="Pain Scale 0 to 10" src="~/img/FACES_English_Black.jpg">
                                <figcaption>
                                    FACES licensed to Angela Lee February, 2020
                                </figcaption>
                            </figure>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            @if (Model.CareSystemAssessment != null && Model.CareSystemAssessment.Count > 0)
            {
                <table class="table table-bordered table-primary">
                    <thead>
                    <tr>
                        <th class="text-center" colspan="99">Secondary System Assessments</th>
                    </tr>
                    <tr>
                        <th>Group</th>
                        <th>Parameter</th>
                        <th>Within Normal Limits</th>
                        <th>Comment</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var sa in Model.CareSystemAssessment)
                    {
                        <tr>
                            <td>@sa.CareSystemParameter.CareSystemType.Name</td>
                            <td>@sa.CareSystemParameter.Name</td>
                            <td>@((bool)sa.IsWithinNormalLimits ? "Within Normal Limits" : "Abnormal")</td>
                            <td>@sa.Comment</td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

<a asp-controller="Encounter"
   asp-action="ViewEncounter"
   asp-route-encounterId="@Model.Encounter.EncounterId"
   asp-route-isPatientEncounter="false"
   class="btn btn-outline-danger">
    Return To Encounter
</a>