@using IS_Proj_HIT.Models.PCA
@model PcaRecord;

<partial name="PatientBannerPartial" model="ViewBag.Patient" />
<div class="card">
    <div class="card-header bg-primary text-white">
        <h4 class="mb-0">
            Patient Care Assessment
            <button class="btn-sm btn-outline-primary mb-0" type="button"
                    data-toggle="tooltip" data-placement="right" title="N.A. means that a value was not assessed.">
                <i class="fas fa-info"></i>
            </button>
            <a asp-action="UpdateAssessment"
               asp-route-assessmentId="@Model.PcaId"
               asp-route-patientMRN="@ViewBag.Patient.Mrn"
               asp-route-encounterId="@Model.Encounter.EncounterId"
               class="btn btn-info btn-sm float-right">
                Update Patient Care Assessment
            </a>
        </h4>
    </div>
    <div class="card-body bg-light">
        <div class="container">
            <h5 class="d-block pb-1 mb-2">
                <span class="float-left">Date Vitals Entered: <b>@Model.DateVitalsAdded?.ToString("g")</b></span>
                <span class="float-right">Last Modified: <b>@Model.LastModified.ToString("g")</b></span>
            </h5>
            <table class="table table-bordered table-primary">
                <thead>
                <tr>
                    <th>Temperature</th>
                    <th>Weight</th>
                    <th>Height</th>
                    <th>Head Circumference</th>
                    <th>Body Mass Index</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>@(Model.Temperature is null ? "N.A." : $"{Model.Temperature} *F ({Model.TempRouteType.TempRouteTypeName})")</td>
                    <td>@(Model.Weight is null ? "N.A." : $"{Model.Weight} {Model.WeightUnits}")</td>
                    <td>@(Model.Height is null ? "N.A." : $"{Model.Height} {Model.HeightUnits}")</td>
                    <td>@(Model.HeadCircumference is null ? "N.A." : $"{Model.HeadCircumference} {Model.HeadCircumferenceUnits}")</td>
                    <td>@(Model.BodyMassIndex is null ? "N.A." : $"{Model.BodyMassIndex} ({Model.BmiMethod.Name})")</td>
                </tr>
                </tbody>
            </table>
            <table class="table table-bordered table-primary">
                <thead>
                <tr>
                    <th>Blood Pressure</th>
                    <th>Pulse</th>
                    <th>Pulse Oximetry</th>
                    <th>Respiration</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        @(Model.SystolicBloodPressure is null || Model.DiastolicBloodPressure is null ? "N.A." :
                            $"{Model.SystolicBloodPressure} / {Model.DiastolicBloodPressure} ({Model.BmiMethod.Name})")
                    </td>
                    <td>@(Model.Pulse is null ? "N.A." : $"{Model.Pulse} /min ({Model.PulseRouteType.PulseRouteTypeName})")</td>
                    <td>@(Model.PulseOximetry is null ? "N.A." : $"{Model.PulseOximetry}%")</td>
                    <td>@(Model.Respiration is null ? "N.A." : $"{Model.Respiration} /min ({Model.O2deliveryType.O2deliveryTypeName})")</td>
                </tr>
                </tbody>
            </table>
            @if (Model.PcaComment != null && Model.PcaComment.Count > 0)
            {
                <table class="table table-bordered table-primary">
                    <thead>
                    <tr>
                        <th class="text-center" colspan="2">Notes</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var com in Model.PcaComment)
                    {
                        <tr>
                            <td>@com.PcacommentType.PcaCommentTypeName - @com.Comment</td>
                            <td class="d-sm-none d-lg-table-cell">Date Added: @com.DateCommentAdded?.ToString("g")</td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
            @if (Model.PainScaleType != null && Model.PainAssessment != null && Model.PainAssessment.Count > 0)
            {
                <table class="table table-bordered table-primary">
                    <thead>
                        <tr>
                            <th colspan="99" class="text-center">
                                <span class="font-weight-normal float-left">
                                    <button class="btn-sm btn-outline-primary mb-0" type="button"
                                            data-toggle="tooltip" data-placement="top" title="Actual value is based on the cumulative rating from the assessed pain scale.">
                                        <i class="fas fa-info"></i>
                                    </button>
                                    Pain Level | @(Model.PainLevelGoal is null ? "" : $"Goal: {Model.PainLevelGoal} -") Actual: @Model.PainAssessment.Sum(a => a.PainRating.Value)
                                </span>
                                Pain Assessment - @Model.PainScaleType.PainScaleTypeName
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var pa in Model.PainAssessment)
                    {
                        <tr>
                            <td>@pa.PainParameter.ParameterName</td>
                            <td>@pa.PainRating.Value</td>
                            <td>@pa.PainRating.Description</td>
                        </tr>
                    }
                    @if (Model.PainScaleType.PainScaleTypeName is "Wong-Baker")
                    {
                        <tr>
                            <td colspan="99">
                                <figure>
                                    <img alt="Pain Scale 0 to 10" src="~/img/FACES_English_Black.jpg">
                                    <figcaption>
                                        FACES licensed to Angela Lee February, 2020
                                    </figcaption>
                                </figure>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
            @if (Model.CareSystemAssessment != null && Model.CareSystemAssessment.Count > 0)
            {
                <table class="table table-bordered table-primary">
                    <thead>
                    <tr>
                        <th class="text-center" colspan="99">System Review</th>
                    </tr>
                    <tr>
                        <th>Group</th>
                        <th>Parameter</th>
                        <th>Within Normal Limits</th>
                        <th>Comment</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var sa in Model.CareSystemAssessment)
                    {
                        <tr>
                            <td>@sa.CareSystemParameter.CareSystemType.Name</td>
                            <td>@sa.CareSystemParameter.Name</td>
                            <td>@((bool) sa.IsWithinNormalLimits ? "Within Normal Limits" : "Abnormal")</td>
                            <td>@sa.Comment</td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>
<hr/>

<a asp-controller="Encounter"
   asp-action="ViewEncounter"
   asp-route-encounterId="@Model.Encounter.EncounterId"
   class="btn btn-outline-primary">
    <i class="fas fa-arrow-left"></i> Return To Encounter
</a>