@using IS_Proj_HIT.Services
@model Patient

<div class="card">
    <div class="card-header bg-primary text-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-5 my-auto">
                    <h3 class="m-0">
                        Patient: 
                        <a asp-controller="Patient"
                           asp-action="Details"
                           asp-route-id="@Model.Mrn"
                           class="heading page-link d-inline-block">
                            @Model.FirstName @Model.MiddleName @Model.LastName
                        </a>
                    </h3>
                </div>
                <div class="col-sm-3 col-lg-2 my-auto">
                    <span class="heading">MRN: </span>@Model.Mrn
                </div>
                <div class="col-sm-3 col-lg-2 my-auto">
                    <span class="heading">DOB: </span> @Model.Dob.ToShortDateString()
                </div>
                <div class="col-sm-3 col-lg-2 my-auto">
                    <span class="heading">Age: </span> @ConversionService.ConvertDobToCurrentAge(Model.Dob)
                </div>
                <div class="col-sm-3 col-lg-1 my-auto">
                    @if (Model.PatientAlerts != null)
                    {
                        <a asp-controller="Patient"
                           asp-action="ListAlerts"
                           asp-route-id="@Model.Mrn"
                           id="listAlertsButton" class="btn @(Model.PatientAlerts.Count > 0 ? "btn-outline-danger" : "btn-outline-warning")">
                            <h5 class="font-weight-bold m-0">
                                <i class="fas fa-exclamation-triangle"></i> Alerts @Model.PatientAlerts.Count
                            </h5>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>