@using IS_Proj_HIT.Services
@model Patient
@{
    ViewData["Title"] = "Patient Alerts";
}
@ViewBag.Message

<div class="card">
    <div class="card-header bg-primary text-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-5 my-auto">
                    <h3 class="m-0">
                        Patient:
                        <a asp-controller="Patient"
                           asp-action="Details"
                           asp-route-id="@Model.Mrn"
                           class="heading page-link d-inline-block">
                            @Model.FirstName @Model.MiddleName @Model.LastName
                        </a>
                    </h3>
                </div>
                <div class="col-sm-3 col-lg-2 my-auto">
                    <span class="heading">MRN: </span>@Model.Mrn
                </div>
                <div class="col-sm-3 col-lg-2 my-auto">
                    <span class="heading">DOB: </span> @(Model.Dob?.ToShortDateString() ?? "N/A")
                </div>
                <div class="col-sm-3 col-lg-2 my-auto">
                    @if (Model.DeceasedLiving == false)
                    {<span class="heading">Age: </span> @(Model.Dob.HasValue ? ConversionService.ConvertDobToCurrentAge(Model.Dob.Value).ToString() : "N/A")}
                    else
                    {<span class="heading" style="font-size: x-large;">Deceased</span>}

                </div>
                <div class="col-sm-3 col-lg-1 my-auto">
                    @if (Model.PatientAlerts != null)
                    {
                        <a asp-controller="Patient"
                           asp-action="ListAlerts"
                           asp-route-id="@Model.Mrn"
                           id="listAlertsButton" class="btn @(Model.PatientAlerts.Count > 0 ? "btn-outline-danger" : "btn-outline-warning")">
                            <h5 class="font-weight-bold m-0">
                                
                                @{ var i = Model.PatientAlerts.Count;}
                                @foreach (var patientalerts in Model.PatientAlerts)
                                { if (patientalerts.EndDate.HasValue) { i--; } }
                                <i class="fas fa-exclamation-triangle"></i> Alerts @i
                            </h5>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>